body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root {
  --main-color: rgba(33, 150, 243, 1);
  --white-color: #ffffff;
  --black-color: #000000;
  --black-grey-color: #212121;
  --white-grey-color: #757575;
  --white-bg-color: #f5f4fa;
  --black-bg-color: #2f303a;
  --active-button-color: #005ca7;
}

img {
  display: block;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  padding: 0;
  margin: 0 0 50px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-inline {
  display: flex;
  align-items: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-column-inline {
  display: flex;
  flex-direction: row;
}

.flex-list-warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section {
  padding: 94px 0;
}

.one-tab {
  padding: 94px 0 0 0;
}

.upper-contact a {
  margin-right: 10px;
  height: 20px;
}

.icon-mail {
  margin-right: 10px;
  vertical-align: baseline;
}

.icon-phone {
  margin-right: 10px;
  vertical-align: text-top;
}

.icon-color-grey {
  fill: #afb1b8;
}

.icon-color-white-grey {
  fill: var(--white-grey-color);
}

.icon-color-white-grey:hover {
  fill: var(--main-color);
}

.icon-color-blue {
  fill: var(--main-color);
}

.icon-color-black {
  fill: var(--black-grey-color);
}

/*  Header   */

.upper-line {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ececec;
  background: var(--white-color);
}

.upper-button {
  font-family: "Raleway";
  padding: 23px 0;
  margin-right: 93px;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.upper-button:before {
  content: "Web";
  font-size: 26px;
  color: var(--main-color);
}

.upper-nav {
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.upper-nav li {
  list-style-type: none;
  margin: 0 50px 0 0;
}

.upper-nav li:last-child {
  margin: 0;
}

.upper-nav li a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 27px 0;
  color: var(--black-color);
}

.upper-nav li a:hover,
.upper-nav li a:focus {
  color: var(--main-color);
}

.upper-contact {
  padding: 0;
  margin: 0;
  height: 16px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  text-decoration: none;
}

.upper-contact li {
  padding: 0;
  list-style-type: none;
  margin-left: 50px;
  cursor: pointer;
}

.upper-contact li:first-child {
  margin: 0;
}

.upper-contact li a {
  text-decoration: none;
  padding: 32px 0;
  color: rgba(117, 117, 117, 1);
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.upper-contact li svg {
  fill: var(--white-grey-color);
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.upper-contact a:hover,
.upper-contact a:hover svg {
  fill: var(--main-color);
  color: var(--main-color);
}

.upper-contact a:focus,
.upper-contact a:focus svg {
  fill: var(--main-color);
  color: var(--main-color);
}

.underline-remover[aria-current="page"] {
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
}

/*  Footer  */

.bottom-line {
  margin: 0;
  padding: 60px 0;
  background: var(--black-bg-color);
}

.bottom-button {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.bottom-button:before {
  content: "Web";
  font-size: 26px;
  color: var(--main-color);
}

.bottom-contact {
  margin-top: 28px;
  padding: 0;
  font-style: normal;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.6);
}

.bottom-contact li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 9px;
  margin: 0;
  padding: 0;
}

.bottom-contact li:not(:last-child) {
  margin: 0 0 12px 0;
}

.bottom-contact-colour-white {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.bottom-contact-colour-grey {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.bottom-line-left{
  display: flex;
  align-items: baseline;
}

.bottom-line-center{
  display: flex;
  flex-direction: column;
  color: var(--white-bg-color);
  padding: 0;
  margin-left: 70px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.bottom-line-center h3{
  padding: 0;
  margin: 0;
}

.bottom-user-socials{
  display: flex;
  padding: 0;
  margin: 20px 0 0 0;
  gap: 10px;
}

.bottom-user-social svg {
  fill: #fff;
}

.bottom-user-social {
  list-style-type: none;
}

.bottom-user-social-icon-bg {
  display: flex;
  position: relative;
  width: 44px;
  height: 44px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 50%;
  background: #FFFFFF1A;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-user-social-icon-bg svg {
  width: 20px;
  height: 20px;
}

.bottom-user-social-icon-bg:hover,
.bottom-user-social-icon-bg:focus{
  border-radius: 50%;
  background: var(--main-color);
}

.bottom-label{
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

}

.bottom-name-label {
  width: 350px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.60);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  outline: none;
  padding-left: 16px;
  margin-top: 20px;

}
.bottom-label,
.bottom-name-label{
  margin-left: 93px;
  padding-right: 12px;
}

.bottom-input-button {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white-color);
  width: 216px;
  height: 50px;
  background: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  fill: white;
}

.bottom-input-button svg {
  vertical-align: bottom;
}

/*     index.html      */

.center {
  margin: 0;
  padding: 0;
}

.center-image{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.center-title {
  padding: 0;
  margin: 0 0 30px 0;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.center-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.20);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
  visibility: hidden;
  opacity: 0;
  pointer-events:none;
  z-index: 2;
}

.center-overlay-target  {
  visibility: visible;
  opacity: 1;
  pointer-events:fill;
}

.center-button-popup {
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition-duration: 500ms;
  transition-property: transform;
  transform: scale(0);
  width: 528px;
  height: 581px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.name-label {
  position: relative;
}

.name-label-input {
  width: 403px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding: 0;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label-input:hover,
.name-label-input:focus {
  border-radius: 4px;
  border: 1px solid var(--main-color);
  outline: none;
}

.name-label-input + svg{
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label-input:hover + svg,
.name-label-input:focus + svg {
  fill: var(--main-color);
}

.name-label > .input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.name-label > #name {
  padding-left: 42px; 
}

.spritesheet {
  display: none;
}

.input-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.name-label-comment {
  position: relative;
}

.name-label-comment textarea{
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  resize: none;
  width: 412px;
  height: 96px;
  cursor: pointer;
  margin-top: 4px;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label-comment textarea:hover,
.name-label-comment textarea:focus {
  border-radius: 4px;
  border: 1px solid var(--main-color);
  outline: none;
}

.input-button {
  padding: 0;
  margin: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  width: 216px;
  height: 50px;
  background: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}
.center-overlay-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-overlay-input-up {
  padding: 0 40px;
  list-style-type: none;
  position: relative;
  margin: 0;
}

.center-overlay-input-up p{
  margin: 0;
  padding: 10px 0 4px 0;
}

.center-overlay-input h3{
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}


.center-overlay-input-up p,
.center-overlay-input-bottom label:first-child{
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.center-overlay-input-bottom label:first-child{
  padding-bottom: 10px;
}

.center-overlay-input-up ul,
.center-overlay-input-up div {
  padding: 0 40px;
  list-style-type: none;
  margin: 0;
}

.center-overlay-input-up li {
  margin: 0;
}

.center-overlay-input-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
}

.name-label-comment{
  padding: 10px 0 0 0;
}

#check{
  margin: 10px 4px 0 0;
}

.center-overlay-target > .center-button-popup {
  transform: scale(1);
}

.center-button-popup .center-overlay-close {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 30px;
  text-decoration: none;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.center-button-popup .center-overlay-close:hover,
.center-button-popup .center-overlay-close:focus {
  color: var(--main-color);
}

.center-button {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  width: 216px;
  height: 50px;
  background: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}

.center-button:active {
  background: var(--active-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

.content-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.content-list li {
  width: 270px;
}

.content-list li div {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bg-color);
  margin-bottom: 30px;
}

.content-list li:not(:first-child) {
  margin-left: auto;
}

.content-list li h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.content-list li p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--white-grey-color);
}

.pictures-work {
  justify-content: center;
}

.pictures-work-lists {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pictures-work-lists li:not(:last-child) {
  margin-right: auto;
}

.pictures-work-list-description{
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
}

.pictures-work-list {
  position: relative;
}

.pictures-work-list-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background: rgba(47, 48, 58, 0.80);
}

.pictures-work-list .pictures-work-list-description{
  width: 370px;
  height: 70px;
}

.pictures-work-list-description h3{
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.section-workers {
  background: var(--white-bg-color);
}

.workers-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.workers-list .team-block {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
  text-align: center;
}

.workers-list li:not(:last-child) {
  margin-right: auto;
}

.workers-list li h3 {
  color: var(--black-grey-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  padding: 0;
  margin: 0 0 10px 0;
}

.workers-list li p {
  color: var(--white-grey-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  padding: 0;
  margin: 0;
}

.user {
  padding: 30px 32px;
}
  
.user-socials {
  margin: 16px 0 0 0;
  padding: 0;
  gap: 10px;
  display: flex;
  list-style-type: none;
}
  
.user-social {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
}
  
.user-social-icon-bg{
  display: flex;
  position: relative;
  width: 44px;
  height: 44px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-social-icon-bg svg {
  width: 20px;
  height: 20px;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.user-social-icon-bg:hover,
.user-social-icon-bg:focus{
  display: flex;
  position: relative;
  border-radius: 50%;
  background: var(--main-color);
}

.user-social svg {
  fill: #AFB1B8;
}  

.user-social-icon-bg:hover svg,
.user-social-icon-bg:focus svg {
  fill: var(--white-bg-color);
}

.section-icons ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section-icons li:not(:last-child) {
  margin-right: 34px;
}

.section-icons li a {
  height: 92px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: fill, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-icons a:hover,
.section-icons a:focus {
  border: 1px solid var(--main-color);
  fill: var(--main-color);
}

/*       portpolio.html          */
.main-buttons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 50px 0;
  list-style-type: none;
}

.main-buttons li:not(:last-child) {
  margin: 0 8px 0 0;
}

.main-buttons li button {
  font-family: "Roboto", sans-serif;
  width: auto;
  height: 38px;
  padding-right: 22px;
  padding-left: 22px;
  background: var(--white-bg-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  color: var(--black-grey-color);
  transition-duration: 250ms;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-buttons button:hover,
.main-buttons button:focus {
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

.main-buttons button:active {
  background: var(--active-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

.main-pic-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-pic-list a {
  border-radius: 0px 0px 4px 4px;
  display: block;
  width: 370px;
  background: var(--white-color);
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-pic-list a:hover ,
.main-pic-list a:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);  
}

.main-pic-list li:not(:nth-child(-n + 4)) {
  margin: 42px 0 0 0;
}

.main-pic-list li:not(:nth-child(3n)) {
  margin: auto auto 0 0;
}

.main-pic-list li .inblock {
  padding: 20px 24px;
  margin: 0;
}

.main-pic-list li a {
  text-align: left;
  margin: 0;
  padding: 0;
}

.main-pic-list li a .inblock {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.main-pic-list-container {
  position: relative;
  width: 50%;
}

.main-pic-list-image {
  width: 100%;
  height: auto;
}

.main-pic-list-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  opacity: 0.9;
  overflow: hidden;
  width: 100%;
  bottom: 100px;
  height: 0;
  transition-duration: 500ms;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover .main-pic-list-overlay,
a:focus .main-pic-list-overlay{
	bottom: 100px;
  height: 294px;
}

.text {
  padding: 63px 24px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.main-pic-list li h3 {
  font-family: "Roboto", sans-serif;
  color: var(--black-grey-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin: 0 0 4px 0;
  padding: 0;
}

.main-pic-list li p {
  font-family: "Roboto", sans-serif;
  color: var(--white-grey-color);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-pic-list li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}